JWT_SECRET=
JWT_ISSUER=lmsPortalBe
JWT_AUDIENCE=lmsPortalBe-client
JWT_ACCESS_TOKEN_MINUTES=30
JWT_REFRESH_TOKEN_DAYS=7

ConnectionStrings__DefaultConnection=Data Source=lmsPortalBe.db

# temporary admin
ADMIN_EMAIL=admin@lmsportal.local
ADMIN_PASSWORD=Admin123!
